@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);  
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: #086ff1;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}

/* removes the outline area while cursor is inside that field */
.user-form input:focus {
  outline: none;
}
/* CARD STYLING with responsiveness */
.card {
  max-width: 800px;
  background-color: #4b05d8;
  border-radius: 20px;
  box-shadow:
  3.2px 2.1px 6.2px rgba(0, 0, 0, 0.129),
  8.8px 5.8px 17px rgba(0, 0, 0, 0.185),
  21.1px 13.9px 41px rgba(0, 0, 0, 0.241),
  70px 46px 136px rgba(0, 0, 0, 0.37)
;

  /* box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1); */
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #05a7d8;
  box-shadow:
  3.2px 2.1px 6.2px rgba(0, 0, 0, 0.129),
  8.8px 5.8px 17px rgba(0, 0, 0, 0.185),
  21.1px 13.9px 41px rgba(0, 0, 0, 0.241),
  70px 46px 136px rgba(0, 0, 0, 0.37)
;

  height: 200px;
  width: 200px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}
/* List items within user-info */
.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 1.0rem;
  margin-left: 0.5rem;
}

.repo {
  /* remove underline with no text-direction  */
  text-decoration: none;
  color: #fff;
  background-color: #05a7d8;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  border-radius: 4px;
  box-shadow:
  3.2px 2.1px 6.2px rgba(0, 0, 0, 0.129),
  8.8px 5.8px 17px rgba(0, 0, 0, 0.185),
  21.1px 13.9px 41px rgba(0, 0, 0, 0.241),
  70px 46px 136px rgba(0, 0, 0, 0.37)
;

}
/* display card as flex row to column on screens smaller than 500px */
@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
/* Decrease max width to 1/2 of card max width */
  .user-form {
    max-width: 400px;
  }
}